<h1 class="h1-padrao">Listagem de Técnicos</h1>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Situação</th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <% @tecnicos.each do |tecnico| %>
        <tr>
            <td><%= tecnico.id %></td>
            <td><%= link_to tecnico.nome, tecnico %></td>
            <td><%= tecnico.cargo %></td>
            <td>
                <% if tecnico.ativo %>
                Ativo
                <% else %>
                Inativo
                <% end %>
            </td>
            <td><%= link_to "Editar", edit_technician_path(tecnico) %></td>
        </tr>
    <% end %>
</table>

<%= link_to  "Cadastrar técnicos", new_technician_path %>
