<p>
  <strong>Nome:</strong>
  <%= @cidadao.nome %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @cidadao.data_nascimento %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @cidadao.cpf %>
</p>

<p>
  <strong>RG:</strong>
  <%= @cidadao.rg %>
</p>

<p>
  <strong>Endereco logradouro:</strong>
  <%= @cidadao.endereco_logradouro %>
</p>

<p>
  <strong>Endereco numero:</strong>
  <%= @cidadao.endereco_numero %>
</p>

<p>
  <strong>Endereco bairro:</strong>
  <%= @cidadao.endereco_bairro %>
</p>

<p>
  <strong>Naturalidade:</strong>
  <%= @cidadao.naturalidade %>
</p>

<p>
  <strong>Nome progenitor:</strong>
  <%= @cidadao.nome_progenitor %>
</p>

<p>
  <strong>Nome progenitora:</strong>
  <%= @cidadao.nome_progenitora %>
</p>

<p>
  <strong>Etinia:</strong>
  <%= @cidadao.etinia %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @cidadao.escolaridade %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @cidadao.obs %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @cidadao.ativo %>
</p>

<%= link_to 'Edit', edit_person_path(@cidadao) %> |
<%= link_to 'Back', people_path %>
