
<%= simple_form_for usuario do |f| %>
<%= f.error_notification %>

<div class="form-inputs" >
  <%= f.input :nome, label: "Nome completo: " %>
  <%= f.input :cpf, label: "CPF: " %>
  <%= f.input :email, label: "E-mail: " %>
  <%= f.input :password, label: "Senha: " %>
  <%= f.input :permissao, label: "Perfil: ", collection: PERMISSOES, as: :radio_buttons %>
  <%= f.button :submit, "Salvar" %>
  
</div>
<% end %>
