
<%= simple_form_for(@atendimento) do |f| %>
  <%= f.error_notification %>

  <!--<div class="form-inputs">!-->

  <div>
      <% if @cidadao.present? %>
        <%= f.input :person_id, as: :hidden, input_html: { value: @cidadao.id } %>
        <p>Atendimento para o cidadão: <strong></strong><%= @cidadao.nome %></strong></p>
      <% else %>
        <%= f.association :person, label: "Cidadão: " %>
      <% end %>
      <%= f.association :service, label: "Serviço: " %>
      <%= f.association :technician, label: "Técnico: " %>
      <%= f.association :assistance, label: "Benefício: " %>
      <%= f.input :descricao, label: "Informações complementares: " %>

      <%= f.button :submit, "Salvar", class:"btn-lg btn btn-outline-info btn-block" %>
  </div>

<% end %>
