
<h1 class="h1-padrao"><%= @atendimento.id %> - <%= @atendimento.person.nome %></h1>
<h4 class="text-center">Informações Gerais</h4>
<ul class="info-list">
  <li><span class="campo">Serviço:</span> <%= @atendimento.service.nome %></li>
  <li><span class="campo">Técnico:</span> <%= @atendimento.technician.nome %></li>
  <li><span class="campo">Benefício:</span> <%= @atendimento.assistance.try(:nome) %></li>
  <li><span class="campo">Data de cadastro:</span> <%= l @atendimento.created_at, format: :long %></li>
</ul>
<hr>
<%= link_to  "Voltar", technicians_path %>
